.activity-card {
    width: 400px; /* Set a fixed width for consistency */
    height: 550px; /* Set a fixed height to keep all cards the same size */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
}

.activity-image {
    width: 100%;
    height: 150px; /* Set a fixed height for the image */
    object-fit: cover;
}

.activity-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.activity-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.activity-description {
    flex-grow: 1;
    overflow: auto; /* Enable scrolling if the content exceeds height */
    height: 100px; /* Set a fixed height for the description */
    margin-bottom: 10px;
    color: #000000;
    font-size: medium;
}

.activity-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-price {
    font-weight: bold;
    color: #007bff;
}

.activity-booking-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.activity-booking-link:hover {
    background-color: #007bff;
    color: #fff;
}
