/* DealsCategory.css */
.deals-category {
  margin-bottom: 30px;
}

.deals-vertical {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px; /* Set a height to enable scrolling */
  gap: 10px;
}

.deal-item {
  height: 100px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.deal-cylinder {
  min-width: 180px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; /* Smooth transition */
}

.deal-cylinder:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Lighten background on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.deal-cylinder:active {
  background-color: rgba(255, 255, 255, 1); /* Fully opaque on click */
}

.deal-cylinder span {
  font-size: 0.9em;
  text-align: center;
  margin-left: 8px; /* Space between icon and text */
  display: inline-block;
}

.deal .category-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.deal .category-button.active {
  background-color: #666; /* Highlight active button */
}
