.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    background-color: #56E1E9;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #1565c0;
}
