.exchange-section {
  background-color: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.tabs {
  margin-bottom: 20px;
}

.rectangle {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.tab-button.active {
  background-color: #FF8057;
  color: white;
}

.exchange-container {
  height: 100%;
  overflow-y: auto;
}

.exchange-tab {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 0.9rem;
}

.exchange-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.s-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #ccc;
  font-size: 0.8rem;
  height: 10px; /* Adjusted height */
  overflow: hidden; /* Manage overflow */
  align-items: center; /* Center content vertically */
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure content is spaced evenly */
}

.currency-select,
.rate-input-edit,
.amount-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  width: 100%;
}

.converted-amount {
  color: #ccc;
  font-size: 0.8rem;
}



.submit-button {
  background-color: #FF8057;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 0.85rem;
}

.submit-button:hover {
  background-color: #ff8157de;
}