* {
  box-sizing: border-box;
}

.exchange-section {
  background-color: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  position: relative;
}

.tabs {
  margin-bottom: 20px;
}

.rectangle {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  color: white;
}

.tab-button.active {
  background-color: #56E1E9;
  color: black;
}

.exchange-container {
  height: 100%;
  overflow-y: auto;
}

.exchange-tab {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 0.9rem;
}

.exchange-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.s-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #ccc;
  font-size: 0.8rem;
  height: 12px;
  overflow: hidden;
  align-items: center;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency-select,
.rate-input-edit,
.amount-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 16px;
  width: 100%;
}

.converted-amount {
  color: #ccc;
  font-size: 0.8rem;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  width: 350px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #56E1E9;
}

.message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.progress-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.progress-icon .material-symbols-outlined {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}






.transaction-card {
  background-color: none;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.material-symbols-outlined {
  font-size: 24px;
  color: #56E1E9; /* Adjust color as needed */
}

.history-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.history-col {
  flex: 1;
  padding: 5px;
}

.label {
  color: white;
  display: block;
}

.value {
  color: #ccc;
  display: block;
}